*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
  color: #333;
}
ul{
  list-style-type: none;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
main{
  padding: 2px;
}
.summary{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  min-width: 60%;
  padding: 1rem;
  margin: 1rem auto;

  border-radius: 18px;
  background-color: #fff;
  box-shadow: 0px 0px 10px -6px #212529;
}
.summary__title{
  font-weight: bold;
  line-height: 1.5rem;
}
.summary p span{
  font-weight: 400;
  color: #5f9ea0;
  margin-left: .3rem;
}
.summary div{
  display: flex;
  align-self: center;
  margin-top: .2rem;
}
.companies{
  list-style-type: none;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
  grid-row-gap: .5rem;
  align-items: flex-start;
  justify-items: center;
}
.companies li{
  display: flex;
  align-items: flex-start;
}
.company__name, .companies span{
  font-size: .8rem;
  font-weight: 400;
  color: #5f9ea0;
  margin-right: .2rem;
}


@media screen and (max-width: 450px) {
  .summary{
    grid-template-columns: 1fr;
    justify-items: start;
  }
  .summary__title{
    font-size: .9rem;
  }
  .companies__collapse{
    grid-area: unset;
  }
}

@media screen and (max-width: 1024px) {
  .companies{
    display: flex;
    flex-direction: column;
  }
}